return `
<div class="mb-3 row" data-itemno="${itemno}">
<div class="col-3">
<input type="text" class="form-control" value="${itemname}" data-field="itemname">
</div>
<div class="col-2">
<select class="form-control" data-field="group">
${groupOptions}
</select>
</div>
<div class="col-4">
<input type="text" class="form-control" value="${description}" data-field="description">
</div>
<div class="col-2">
<input type="number" class="form-control" value="${price}" data-field="price">
</div>
<div class="col-1">
<input type="checkbox" class="form-check-input" ${checkedAttribute} data-field="status">
</div>
</div>
`;
}