<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>

    <!-- LINK TO BOOTSTRAP  AND STYLESHEET -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="../PUBLIC/style.css" rel="stylesheet">

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-sm navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">ROYAL RESTAURANT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="starters.html">Starter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="maincourse.html">Main Course</a>
              </li>			
              <li class="nav-item">
                <a class="nav-link" href="desserts.html">Desserts</a>
              </li>	
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Beverage
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="soft.html">Soft</a></li>
                  <li><a class="dropdown-item" href="cocktails.html">Cocktails</a></li>
                  <li><a class="dropdown-item" href="aperitifs.html">Aperitifs</a></li>
                  <li><a class="dropdown-item" href="hot.html">Hot Beverage</a></li>
                  <li><a class="dropdown-item" href="wine.html">Wine</a></li>
                </ul>
              </li>
              </ul>		
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="cartIcon">
                  <a href="order.html" class="nav-link" id="myorder"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"><span id="usernameDisplay"></span></a>
                </li>			
                <li class="nav-item">
                  <a class="nav-link" id="logout" href="index.html">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>			
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>	
              </ul>
            </div>
         </div>
        </nav>	
    
</head>
<body>
<!-- RESERVATION FORM 2005-->
<section class="reservations" id="reservations">
    <br><br><br>
    <div class="title">
      <h1 class="text-center">My Reservation with my Orders</h1>
      <br>
      <div class="reservations-container" id="reservationDetails">
          <form id="resaForm">
            <div class="row g-3">
              <div class="row mb-3">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-md-4">
                <span id="inputUsername" class="form-control-plaintext"></span>
                </div>
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-md-4">
                  <input type="email" class="form-control" id="inputEmail" data-field="email">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputFirstname" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputFirstname" data-field="fname">
                </div>
                <label for="inputLastname" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputLastname" data-field="lname">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPersons" class="col-sm-2 col-form-label">Number of persons</label>
                <div class="col-md-4">
                  <select id="inputPersons" class="form-select" pattern="[0-9]" data-field="pax">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                  </select>
                </div>
                <label for="inputPhone" class="col-sm-2 col-form-label">Phone Number</label>
                <div class="col-md-4">
                  <input type="tel" class="form-control" id="inputPhone" minlength="7" maxlength="8" data-field="'phoneno">
                </div>            
              </div>
              <div class="row mb-3">
                <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                <div class="col-md-4">
                  <input type="Date" class="form-control" id="inputDate" data-field="date">
                </div>
                <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                <div class="col-md-4">
                  <input type="Time" class="form-control" id="inputTime" value="11:00" data-field="time">
                </div>
              </div>
              <br>
              <div class="row mb-3">
                <label for="inputOther" class="col-sm-2 col-form-label">Other instructions or allergies</label>
                <div class="col-md-4">
                  <textarea class="form-control" id="inputOther" rows="3"></textarea>
                </div>      
              </div>
              <hr>
              <table id="ordersTable" class="table">
                <thead>
                  <tr>
                    <th scope="col">Menu</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                <!-- Orders will be inserted here -->
                </tbody>
              </table>
              <div class="total" id="total"></div>
              <div class="text-center">
                <a class="btn btn-outline-primary" href="payment.html">Proceed to Checkout and payment</a>
              </div>
            </div>
          </form>
      </div>
    </div>
  </section>    
  <br><br><br><br>
      <!-- footer here -->        
      <div class="footer">
        <p>L.Liu @2023</p>
      </div>
        <script src="../PUBLIC/commonscript.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script>
        function updateOrder(element, itemno, price, remove) {
              const newQuantity = parseInt(element.value);
              let orders = JSON.parse(localStorage.getItem('orders')) || {};
              orders[itemno] = { quantity: newQuantity, price: price };
              localStorage.setItem('orders', JSON.stringify(orders));
        }

        // Event Listener to fect reservation from local storage
        document.addEventListener('DOMContentLoaded', function() {
              const storedData = localStorage.getItem('myResaData');
              if (storedData) {
                  const formData = JSON.parse(storedData);
                  const usernameElement = document.getElementById('inputUsername');
                  usernameElement.textContent = formData.username;
                  document.getElementById('inputPersons').value = formData.pax;
                  document.getElementById('inputFirstname').value = formData.fname;
                  document.getElementById('inputLastname').value = formData.lname;
                  document.getElementById('inputEmail').value = formData.email;
                  document.getElementById('inputPhone').value = formData.phoneno;
                  document.getElementById('inputDate').value = formData.date;
                  document.getElementById('inputTime').value = formData.time;
                  document.getElementById('inputOther').value = formData.other;
              }
        });     
      

        document.addEventListener('DOMContentLoaded', (event) => {
              // Function to update the quantity in local storage
              function updateQuantityInLocalStorage(newQuantity, itemno, price, remove = false) {
                    const orders = JSON.parse(localStorage.getItem('orders')) || {};
                    if (remove) {
                          delete orders[itemno];
                    } else {
                          orders[itemno] = { quantity: parseInt(newQuantity.value), price: price };
                    }
                    localStorage.setItem('orders', JSON.stringify(orders));
              }

              // Function to fetch item details from the database
              async function fetchItemDetails(itemId) {
                    const response = await fetch(`http://localhost:3000/items/${itemId}`);
                    const data = await response.json();
                    if (data.success && data.customer) {
                          return data.customer;
                    } else {
                          console.error('Unexpected response structure:', data);
                          return null;
                    }
              }

              // Function to display orders
              async function displayOrders() {
                    const ordersTableBody = document.querySelector('#ordersTable tbody');
                    const orders = JSON.parse(localStorage.getItem('orders')) || {};
                    ordersTableBody.innerHTML = '';

                    const itemsDetails = await Promise.all(Object.keys(orders).map(fetchItemDetails));
                    let total = 0;
                    const orderDetails = await Promise.all(
                          Object.keys(orders).map(async (itemId) => {
                                const details = await fetchItemDetails(itemId);
                                const quantity = orders[itemId].quantity;
                                total += quantity * details.price; // Calculate total
                                return { ...details, quantity: quantity, price: orders[itemId].price };
                          })
                    );
                    const groupOrder = ['Drinks', 'Starters', 'Main Course', 'Desserts'];
                    const sortedItems = orderDetails.sort((a, b) => {
                          return groupOrder.indexOf(a.group) - groupOrder.indexOf(b.group);
                    });

                    sortedItems.forEach((orderDetails) => {
                          if (orderDetails) {
                                const orderRow = document.createElement('tr');
                                orderRow.innerHTML = `
                                <td>${orderDetails.group || 'Group not available'}</td>
                                <td>${orderDetails.itemname || 'Name not available'}</td>
                                <td>${orderDetails.description || 'Description not available'}</td>
                                <td>${orderDetails.price ? `Rs${orderDetails.price}` : 'Price not available'}</td>
                                <td>
                                <input class="quantity-input" type="number" id="${orderDetails.itemno}" name="quantity" data-price="${orderDetails.price}" value="${orderDetails.quantity || 0}" min="0" onchange="updateOrder(this, ${orderDetails.itemno}, ${orderDetails.price})">
                                </td>
                                `;
                                ordersTableBody.appendChild(orderRow);
                          }
                    });
                    document.getElementById('total').innerHTML = `<strong>Total amount: Rs ${total.toFixed(2)}</strong>`;
              }

              // Function to add event listeners to all quantity input fields
              function addQuantityInputEventListeners() {
                    document.querySelectorAll('.quantity-input').forEach(input => {
                          input.addEventListener('change', (event) => {
                                const itemno = event.target.getAttribute('id');
                                const price = parseInt(event.target.getAttribute('data-price'));
                                updateOrder(event.target, itemno, price);
                                updateTotal();
                          });
                    });
              }

              function updateTotal() {
                    const quantityInputs = document.querySelectorAll('.quantity-input');
                    let total = 0;
                    quantityInputs.forEach(input => {
                          const price = parseFloat(input.getAttribute('data-price'));
                          const quantity = parseInt(input.value);

                          // If the quantity and price are valid numbers, add to the total
                          if (!isNaN(price) && !isNaN(quantity)) {
                                total += price * quantity;
                          }
                    });

                    // Update the total in the DOM
                    const totalElement = document.getElementById('total');
                    totalElement.innerHTML = `<strong>Total amount: Rs ${total.toFixed(2)}</strong>`;
              }

              // Call the function to display orders and then add event listeners
              displayOrders().then(() => {
                    addQuantityInputEventListeners();
              });

              // Function to save form data to local storage
              function saveFormData(formData) {
                    localStorage.setItem('myResaData', JSON.stringify(formData));
              }

              // Function to update the database with reservation and orders
              async function updateDatabase() {
                    const reservationData = JSON.parse(localStorage.getItem('myResaData')) || {};
                    const ordersObject = JSON.parse(localStorage.getItem('orders')) || {};

                    // Convert orders object to an array of order items
                    const ordersData = Object.entries(ordersObject).map(([itemno, orderDetails]) => ({
                          itemno: itemno,
                          quantity: orderDetails.quantity,
                          price: orderDetails.price
                    }));

                    const combinedData = {
                          ...reservationData,
                          orders: ordersData
                    };

                    try {
                          const response = await fetch('http://localhost:3000/reservation/create', {
                                method: 'POST',
                                headers: {
                                      'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(combinedData),
                          });
                          if (response.ok) {
                                window.location.href = 'payment.html';
                          } else {
                                console.error('Failed to update the database.');
                          }
                    } catch (error) {
                          console.error('Error:', error);
                    }
              }

              // Add click event listener to the checkout button
              const checkoutButton = document.querySelector('.btn-outline-primary');
              checkoutButton.addEventListener('click', (e) => {
                    console.log("updating db")
                    e.preventDefault(); 
                    updateDatabase(); 
              });
        });

    </script>
</body>
</html>
