      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">ROYAL RESTAURANT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/starters">Starter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/maincourse">Main Course</a>
            </li>			
            <li class="nav-item">
              <a class="nav-link" href="/desserts">Desserts</a>
            </li>	
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Beverage
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/soft">Soft</a></li>
                <li><a class="dropdown-item" href="/cocktails">Cocktails</a></li>
                <li><a class="dropdown-item" href="/aperitifs">Aperitifs</a></li>
                <li><a class="dropdown-item" href="/hot">Hot Beverage</a></li>
                <li><a class="dropdown-item" href="/wine">Wine</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Reserve a Table</a>
            </li>	
            </ul>		
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" id="cartIcon">
                <a href="/order" class="nav-link" id="myorder">My Order(<span id="cartCount">0</span>)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><span id="usernameDisplay"></span></a>
              </li>			
              <li class="nav-item">
                <a class="nav-link" id="logout" href="/index">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>			
              <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>	
            </ul>
          </div>
       </div>
      </nav>

