<div class="grid-container-about" id="orderInstructions">
  To order, click on the checkbox next to the item and then select quantity when the quantity box appears. After you have finished on this page click the arrow to proceed to next menu or click on your cart on the Status bar above to complete your order and checkout
  <br>
</div>
<br>